@import url(roboto.min.css);

body {
  margin: 0;
  font-family: "Roboto Thin" !important;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  /*text-transform: uppercase;*/
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: "Roboto Thin";
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 145px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 20px;
  padding-left:15%;
  padding-right:15%;
}

.title-bar{
  padding: 32px;
}

.custom-navbar{
  min-height:30px;
  z-index: 1030;
  /*border-bottom: 1px solid #006064 !important;
  border-radius: 0px !important;*/
}

.custom-navbar .menu-route{
  cursor: pointer !important;
}

.custom-navbar .active{
  color: #607D8B;
}

.custom-navbar .menu-route:not(.active) {
  color: #607D8B;
  opacity: 0.3;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.pictureDetail {
  max-width: 425px;
}

/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

.card-container.au-enter {
  opacity: 0;
}

.card-container.au-enter-active {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #337ab7;
  color: rgb(136, 172, 217);
  margin-bottom: 32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.card .content {
  margin-top: 10px;
}

.card .content .name {
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, .5);
  font-size: 18px;
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  border-radius: 6px 6px 0 0;
}

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px #FFF solid;
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*****************************************************/
/*                      CUSTOM                       */
/*****************************************************/
a{
  color: #607D8B !important;
}

a:hover{
  color: #263238 !important;
}

.heading{
  padding-bottom: 2rem;
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.copyright{
  color: darkgray;
  text-align: center;
  padding-bottom: 1vh;
}

/* POSTS */
.post{
  border-bottom: 1px solid lightgray;
}

.post-title{
  color: #607D8B;
  cursor: pointer;
}

.post-title:hover, .post-editor:hover{
  color: #263238;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.post .heading, .post .post-title{
  margin-bottom: 2vh;
}

.post .row{
  margin-bottom: 3vh;
}

.post-date{
  font-weight: bold;
  text-align: right;
  color: darkgray;
}

.post-date span{
  line-height: 5vh;
}

.post-image img{
  max-width: 100%;
}

.post-content{
  text-align: justify;
  padding-bottom: 5vh;
}

.post-editor{
  color: darkgray;
  cursor: pointer;
  display: inline-block;
}

.post-editor-pic{
  padding-right: 2vw;
}

.post-editor-pic img{
  width: 5vh;
  height: 5vh;
  border-radius: 50px;
  vertical-align: top;
}

.post-editor-name{
  line-height:5vh;
}


.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items
                              horizontally inside the column */
}

.error-message{
  color:red;
}

.empty{
  color:transparent;
}
