<template>
  <section class="center">
    <h1 class="heading">${'heading-section--welcome' | t}</h1>
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <h2>${'heading-section--last-posts' | t}</h2>
        <post-summary repeat.for="post of latestPosts" post.bind="post"></post-summary>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h2>Alex Vizcaino</h2>
        <div style="text-align: justify;">
          I'm a Telecom Engineer and Software Developer at @newuibcn. Front-End developer with experience in SAPUI5, Typescript, Aurelia and Polymer.
        </div>
        <br>
        <div class="row">
          <a class="col-lg-2 col-md-2 col-sm-2" href="mailto:avizcainoluna@gmail.com">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
          <a class="col-lg-2 col-md-2 col-sm-2" href="http://github.com/avizcaino" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
          <a class="col-lg-2 col-md-2 col-sm-2" href="https://es.linkedin.com/in/alexvizcaino" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
          <a class="col-lg-2 col-md-2 col-sm-2" href="http://instagram.com/avizcainoluna" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
          <a class="col-lg-2 col-md-2 col-sm-2" href="http://twitter.com/avizcainoluna" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a class="col-lg-2 col-md-2 col-sm-2" href="" target="_blank">
            <i class="fa fa-feed" aria-hidden="true"></i>
          </a>
        </div>

        <h2>Github</h2>
      </div>
    </div>
  </section>
</template>
